main {
  margin-top: 120px;
}

nav {
  box-shadow: 0 4px 2px -2px #ddd;
  background: rgba(255,255,255,0.9)
}
header img {
  width: 200px;
  margin: 0;
}

#query {
  width: 200px;
}

select {
  max-width: 300px
}

table, div.alert {
  margin-top: 40px;
}

.hidden {display:none}

.uri {
  color: rgba(var(--bs-body-color-rgb),.65);
  transform: scale(.65);
  text-decoration: none;
}

.cell-1 { width: 2%}
.cell-2 { width: 37%}
.cell-3 { width: 20%}
.cell-4 { width: 37%}

select.object { width: 100%; max-width: 100%;}

table td, table th {border: solid 1px}

.spinner {

}

.dropdown-item {
  white-space: inherit !important;
}

.druid {
  float: right;
  text-align: right;
  vertical-align: bottom;
  white-space: nowrap;
  background-image: url('../images/logo.svg');
  background-repeat: no-repeat;
  background-position: 0px;
  padding-left: 50px; 
}

.druid a {
  text-decoration: none;
  color: #7c9fc5;
  font-weight: bold;
  font-size: 130%;
}

.druid a:hover {
  color: #536e8c;
}